asgiref
blinker
command-not-found
cryptography
dbus-python
distro
distro-info
Django
httplib2
jeepney
launchpadlib
lazr.restfulclient
lazr.uri
more-itertools
netifaces
oauthlib
psycopg2-binary
pycairo
PyGObject
PyJWT
pyparsing
python-apt==2.4.0+ubuntu1
python-dotenv
pytz
PyYAML
SecretStorage
six
sqlparse
systemd-python
ubuntu-advantage-tools
ufw
unattended-upgrades
wadllib
zipp
djangorestframework
Pillow
django-filter
docutils
djangorestframework-simplejwt
coverage
drf-yasg
stripe>=6.0.0
celery
redis
django-celery-beat